.products__box {
    display: flex;
    margin-top: 39px;
}

.products {
    width: 740px;
    min-height: 709px;
    background: #FFF;
    border: 1px solid #61A47D;
    border-radius: 26px;
    margin-right: 54px;
    margin-bottom: 30px;
    padding: 24px 54px 45px 51px;

    &__header {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 600;
        color: #61A47D;

        &__descr {
            width: 50%;
        }

        &__amount {
            width: 25%;
            text-align: center;
        }

        &__price {
            width: 25%;
            text-align: right;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid rgba(#707070, 0.3);
    }

    &__descr {
        display: flex;
        flex-direction: row;
        width: 50%;
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__name {
        font-size: 18px;
        font-weight: 600;
        color: #3D3D3D;
        margin-bottom: 18px;
    }

    &__amount {
        font-size: 18px;
        font-weight: 600;
        color: #3D3D3D;
        width: 25%;
        text-align: center;
    }

    &__price {
        font-size: 18px;
        font-weight: 600;
        color: #3D3D3D;
        width: 25%;
        text-align: right;
    }
}

.round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 84px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 100%;
    margin-right: 28px;

    img {
        display: block;
        width: 80%;
    }
}

.del {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    color: #3D3D3D;

    img {
        display: block;
        width: 20px;
        margin-right: 8px;
    }
}

.products__sum {
    width: 437px;
    height: 262px;
    background: #FFF;
    border: 1px solid #61A47D;
    border-radius: 26px;
    padding: 25px 57px 37px 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 66px;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    &__descr {
        font-size: 20px;
        font-weight: 600;
        color: #61A47D;
    }

    &__amount {
        font-size: 20px;
        font-weight: 600;
        color: #3D3D3D;
    }
}

.nextBtn {
    width: 437px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #ff9748;
    border: 1px solid #ff9748;
    border-radius: 26px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.5s;
    margin-top: 20px;

    &:hover {
        background: #fff;
        color: #ff9748;
        transition: all 0.5s;
    }
}

.prevBtn {
    width: 437px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #6d6d6d;
    border: 1px solid #6d6d6d;
    border-radius: 26px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.5s;
    margin-top: 20px;

    &:hover {
        background: #fff;
        color: #6d6d6d;
        transition: all 0.5s;
    }
}