.garden {
  width: 100%;
  min-height: 708px;
  background: rgba(#fff, 0.8);
  border-radius: 30px;
  border: 1px solid #61a47d;
  margin-left: 35px;

  &__tabs {
    margin-top: 33px;
    list-style-type: none;
    display: flex;
    align-items: center;
  }

  &__tab {
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    line-height: 32px;
    color: #aaa;
    margin-right: 60px;
    transition: 0.2s all;

    &:hover {
      border-bottom: 4px solid #4c756d;
    }

    &_active {
      color: #4c756d;
      border-bottom: 4px solid #4c756d;
    }
  }

  &__content {
    margin-top: 60px;
    display: none;

    &_active {
      display: flex;
      flex-direction: column;
    }
  }
}

.diagrams {
  width: 880px;
  margin-left: 35px;

  &__tabs {
    position: relative;
    top: -85px;
    left: 450px;
    margin-top: 33px;
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 700px;
  }

  &__tab {
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    color: #aaa;
    margin: 0 30px;
    transition: 0.2s all;

    &:hover {
      border-bottom: 4px solid #4c756d;
    }

    &_active {
      color: #4c756d;
      border-bottom: 4px solid #4c756d;
    }
  }

  &__content {
    min-height: 400px;
    margin-top: -90px;
    margin-left: -65px;
    margin-bottom: 30px;
    padding: 30px;
    display: none;
    overflow: hidden;

    &_active {
      display: flex;
    }
  }
}