.topnav {
  height: 100px;
  margin-left: 355px;
  padding: 0 26px;
  display: flex;
  justify-content: space-between;
}
.gray_border {
  border-right: #ddd solid 2px;
}

.icon-LUPKA {
  cursor: pointer;
  font-size: 32px;
  span.path1,
  span.path2 {
    font-family: "icomoon" !important;
  }
}
.icon-LUPKA .path1::before {
  color: #3d3d3d;
}
.icon-LUPKA .path2::before {
  color: #ddd;
}

.search {
  display: flex;
  align-items: center;
  width: 40%;
  &__input {
    height: 40px;
    width: 400px;
    border: none;
    background-color:rgb(243, 243, 243);
    margin-left: 20px;
    padding: 0 15px;
  }
}

input.search__input::placeholder {
  opacity: 0.5;
}

.search-field {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: fixed;
  left: 420px;
  top: -100%;
  transition: all 0.3s;
}

.search-field_active {
   top: 28px;  
}

.search-btn-arrow {
  cursor: pointer;
  background-color: rgba(221, 221, 221, 0.9);
  width: 40px;
  height: 40px;
  font-size: 28px;
  border: none;
}

.weather {
  color: #ababab;
  padding: 0 25px;
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgWind,
.imgUmbrella {
  fill: #aba9a9;
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}


.weather .box {
  display: flex;
  align-items: center;
  padding: 5px 5px;
}

.weather .title {
  width: 35%;
  font-size: 14px;
  line-height: 1.4;
}
.weather .temperature {
  font-size: 36px;
  width: 17%;
  letter-spacing: -1px;
  font-weight: 600;
}

.weather .icon img {
  display: block;
  width: 70px;
}

.cart {
  padding: 0 60px;
  display: flex;
  align-items: center;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8a8a8a;
    margin-left: 15px;
    text-decoration: none;
    span.icon-KOSZYK {
      display: block;
      font-size: 32px;
      margin-right: 30px;
      color: #60a47d;
    }
    .cart__text {
      text-decoration: underline;
    }
  }
}
