@media (max-width: 1880px) {
  .checkImg {
    width: 123px;
    margin-top: 40px;
  }

  h2.thnx {
    font-size: 18px;
    margin-top: 18px;
  }

  .orderNum {
    width: 430px;
    font-size: 16px;
    margin-top: 23px;
  }

  .orderSum {
    width: 674px;
    min-height: 400px;
    padding: 21px 41px 30px 23px;
  }

  h3 {
    font-size: 15px;
  }

  .list {

    &__item {
      padding-top: 10px;
      font-size: 12px;
    }

    &__img {
      width: 55px;
      height: 55px;
      margin-right: 20px;
    }
  }

  .total {
    width: 673px;
    height: 121px;
    padding: 1px 20px 0 14px;

    &__item {
      margin-top: 15px;
      font-size: 12px;
      margin-right: 20px;

      &_big {
        margin-top: 20px;
        font-size: 17px;
      }
    }
  }

  .contact {
    font-size: 14px;
    margin-top: 40px;
  }
}