@media (max-width: 767px) {
  main {
    font-size: 12px;
  }

  .deliver__wrapper {
    margin-top: 27px;
  }

  .form__title {
    font-size: 13px;
    margin-bottom: 25px;
  }

  .deliver__form {
    padding: 11px 31px;
    width: 350px;
  }

  .form__wrapper label {
    width: 100%;
    margin-bottom: 30px;
  }

  .form__wrapper label span.icon-IKONA-PACZKA-CZARNA {
    margin-left: 28px;
    font-size: 44px;
  }

  .text {
    font-size: 12px;
    margin-left: 37px;
  }

  .design {
    margin-left: 5px;
    width: 22px;
    height: 22px;
  }

  .form__title {
    font-size: 13px;
    margin-bottom: 10px;
  }


  .search__field {
    width: 100px;
    height: 30px;
    padding: 8px;
    font-size: 12px;
  }

  .search__text {
    display: none;
  }

  .vegetables {
    &__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 20px;
    }

    &__round {
      width: 60px;
      height: 60px;
      margin-right: 20px;
    }

    &__name {
      font-size: 14px;
      margin-right: 20px;
    }

    &__count {
      font-size: 14px;
      margin-right: 20px;
    }

    &__minus {
      margin-right: 15px;
    }
  }

  .round_green {
    width: 32px;
    height: 32px;

    .icon-LUPKA {
      font-size: 20px;
    }

  }

  .deliver__summary {
    width: 350px;
    height: 270px;
    padding: 20px 0 40px 0;

    &__title {
      font-size: 14px;
    }
  }

  .diagram__img {
    margin-top: 40px;
    width: 150px;
  }

  .btn__submit {
    width: 90%;
    height: 44px;
    margin: 34px auto 10px auto;
    border-radius: 35px;
    font-size: 16px;
  }
}