@media (max-width: 1023px) {
  .profile {
    &__wrapper {
      flex-direction: column;
      margin: 0 auto;
      margin-top: 60px;
      font-size: 26px;
    }
    &__summary {
      width: 670px;
      height: 1038px;
      margin: 0 auto 50px auto;
      padding: 40px 80px 90px 80px;
    }
    &__title {
      display: block;
      color: #4c756d;
      margin-bottom: 30px;
    }
    &__img {
      width: 325px;
      height: 325px;
      margin-bottom: 33px;
    }
    &__family {
      padding-bottom: 10px;
      border-bottom: 1px solid #61a47d;
    }
    &__type {
      color: #61a47d;
      margin-top: 55px;
    }
    &__descr {
      color: #3d3d3d;
      margin-top: 57px;
    }
  }
  .green__border {
    width: 505px;
  }
  .pencil {
    width: 60px;
    height: 60px;
    top: 30px;
    right: 45px;
  }
  .edit {
    width: 670px;
    margin: 0 auto 50px auto;
    &__tabs {
      margin-top: 20px;
      justify-content: center;
    }
    &__tab {
      font-size: 20px;
    }
    &__content {
      padding: 70px 35px 35px 35px;
    }
  }
  .priv_data {
    display: flex;
    flex-flow: column;
  }
  .input__box {
    margin-right: 0px;
    margin-bottom: 30px;
    label {
      font-size: 26px;
      margin-bottom: 20px;
      white-space: nowrap;
    }
    input {
      height: 77px;
      width: 602px;
      font-size: 26px;
    }
  }
  .btn__submit {
    width: 612px;
    height: 82px;
    margin: 95px auto 0px auto;
    border-radius: 35px;
    font-size: 26px;
  }
}
